### Question2
Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:
>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [213]:
#Answer
def file_length(file_name):
    file = open(file_name)
    contents = file.read()
    file.close()
    print(len(contents))

In [215]:
try:
    x = input(file_length(file_name))
     except :FileNotFoundError
            
        print(No such file or directory)

IndentationError: unexpected indent (<ipython-input-215-d6c4ec039945>, line 3)

In [222]:
def Marsupial():
    print(['doll', 'firetruck', 'kitten'])
    Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']

SyntaxError: invalid syntax (<ipython-input-222-c89bda9daba6>, line 4)

### Question 5
Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:
x = {
洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐뜦n3洧논 + 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬涌쪂nYour function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.
>>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2
1

10 5 16 8 4 2 1

In [191]:
#Answer
# Python3 program to print  
# Collatz   
  
def printCollatz(x): 
      
 
    # But we must stop before 1 because x is not equal 1 
    while x != 1: 
        print(x, end = ' ') 
  
        # If x is odd  
        if x & 1: 
            x = 3 * x + 1
  
        # If even  
        else: 
            x = x // 2
  
    # Print 1 at the end  
    print(x) 
  
#Calling Collatz(1)   
printCollatz(1)

1

In [192]:
#calling Collatz(10)
printCollatz(10)

10 5 16 8 4 2 1

### Question6
Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.

In [175]:
>>> def binary(n):
...   if n < 2:
...     print (n)
...   else:
...     binary(n // 2)
...     print (n % 2)

In [176]:
>>> binary(0)

0

In [177]:
>>> binary(1)

1

In [178]:
>>> binary(3)

1
1

In [179]:
>>> binary(9)

1
0
0
1

In [ ]:
#Question9

In [12]:
#Creating 
import sqlite3
con = sqlite3.connect('web.db')
cur = con.cursor()

In [14]:
cur.execute("CREATE TABLE Forecast1 (City, Country, Season, Temperature, Rainfall)")

In [15]:
cur.execute("INSERT INTO Forecast1 VALUES ('Mumbai','India','Winter','24.8','5.9')")
cur.execute("INSERT INTO Forecast1 VALUES ('Mumbai','India','Spring','28.4','16.2')")
cur.execute("INSERT INTO Forecast1 VALUES ('Mumbai','India','Summer','27.9','1549.4')")
cur.execute("INSERT INTO Forecast1 VALUES ('Mumbai','India','Fall','27.6','346.0')")
cur.execute("INSERT INTO Forecast1 VALUES ('London','United Kingdom','Winter','4.2','207.7')")
cur.execute("INSERT INTO Forecast1 VALUES ('London','United Kingdom','Spring','8.3','169.6')")
cur.execute("INSERT INTO Forecast1 VALUES ('London', 'United Kingdom','Summer','15.7','157.0')")
cur.execute("INSERT INTO Forecast1 VALUES ('London','United Kingdom','Fall','10.4','218.5')")
cur.execute("INSERT INTO Forecast1 VALUES ('Cairo','Egypt','Winter','13.6','16.5')")
cur.execute("INSERT INTO Forecast1 VALUES ('Cairo','Egypt','Spring','20.7','6.5')")
cur.execute("INSERT INTO Forecast1 VALUES ('Cairo','Egypt','Summer','27.7','0.1')")
cur.execute("INSERT INTO Forecast1 VALUES ('Cairo','Egypt','Fall','22.2','4.5')")

In [19]:
#Saving the table
con.commit()
con.close()

In [20]:
import sqlite3
con = sqlite3.connect('links.db')
cur = con.cursor()
cur.execute('SELECT Temperature FROM Forecast1')

 

for x in cur:
    print(x)

OperationalError: no such table: Forecast1

### Question 10
. Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following
lists:

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
'LAZY', 'DOG']

In [22]:
words = "['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']"
print(words.upper())

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog']

In [242]:
words = "['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']"
print(words.lower())

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words)

In [243]:
words = "['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']"
sentence = "The quick brown fox jumps over the lazy dog"
words = sentence.split()
word_lengths = [len(word) for word in words ]
print(words)
print(word_lengths)

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]

d)  [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.)

In [254]:
word = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

sentence1 = []
sentence2 = []
sentence3 = []

for x in word:
    sentence1.append(x.upper())
    
for x in word:
    sentence2.append(x.lower())
    
for x in word:
    sentence3.append(len(x))
    
list(map(list, zip(sentence1,sentence2,sentence3)))

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

In [255]:
#Answer

word = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

sentence = []

for x in word:
    if len(x)>=4:
        sentence.append(x)
print(sentence)

['quick', 'brown', 'jumps', 'over', 'lazy']